# UI
UI_MODE=dark                        # dark/light

# Loop configuration
LOOP_FREQ=45                        # seconds; positive integer (ProtonVPN recommends 45)
REQUIRED_ATTEMPTS=3                 # min 1, max 10

# Logging
LOG_LINES=50
LOG_REVERSE=false                   # true to show newest first
LOG_TO_STDOUT=false                 # true to log to STDOUT

# ProtonVPN
PROTON_GATEWAY=10.2.0.1             # ProtonVPN gateway IP; no http(s) and no trailing slash

# OPNsense
OPN_SKIP=false                      # true to skip OPNsense integration
OPN_INTERFACE_ADDR=https://opnsense.local     # requires http(s) and no trailing slash
OPN_API_KEY=your_opnsense_api_key
OPN_API_SECRET=your_opnsense_api_secret
OPN_PROTON_ALIAS_NAME=proton_vpn_forwarded_port

# PfSense
PF_SKIP=false                      # true to skip OPNsense integration
PF_INTERFACE_ADDR=https://pfsense.local     # requires http(s) and no trailing slash
PF_KEY=your_pfsense_api_key
PF_PROTON_ALIAS_NAME=proton_vpn_forwarded_port

# qBittorrent
QBIT_SKIP=false                     # true to skip qBittorrent integration
QBIT_ADDR=http://qbittorrent.local  # requires http(s) and no trailing slash
QBIT_USER=admin
QBIT_PASS=your_qbittorrent_password